.iframe-container{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 40px;
    padding-left: 200px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Ensure popup is above other elements */
}


.close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
    margin-right: 50px;
    color: white;
}



.iframe-scrollbar {
    width: 20px; /* Adjust width as needed */
    background-color: #ddd; /* Adjust color */
    position: absolute;
    right: 10; /* Position the scrollbar on the right */
    top: 0;
    /* Add additional styles for hover effect, etc. */
  }
  

a{
   color: "blue";
}